@height: 60px * 2;

.type_icon_template {
  display: flex;
  align-items: center;
  margin: 0 3px 0 7px;
}

.type_icon_img_template {
  filter: drop-shadow(0 0 0.5px #333);
}

.type_name_template {
  display: flex;
  align-items: center;
  margin: 0 3px 0 7px;
}

.url_list_template {
  box-sizing: border-box;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 3px 0 3px;
}

.url_piece_template {
  width: 13%;
  background: rgba(10, 12, 15, 0.1);
  margin: 0 3px 0 3px;
  border: 1px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.url_piece_a_template {
  display: flex;
  align-items: center;
}

.url_icon_template {
  display: flex;
  align-items: center;
  margin: 0 3px 0 7px;
}

.url_icon_img_template {
  width: 20px;
  height: 20px;
  filter: contrast(1.2) drop-shadow(0 0 3px #333);
}

.url_name_template {
  width: 120px;
  display: flex;
  align-items: center;
  margin: 0 3px 0 4px;
}

.url_name_span_template {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1px;
  //text-shadow: 1px 0 0.5px floralwhite, -1px 0 0.5px floralwhite, 0 1px 0.5px floralwhite,0 -1px 0.5px floralwhite;
}

a {
  text-decoration: none;
  color: #000000;

  &:hover {
    font-weight: bold;
  }
}

.router-link-active {
  text-decoration: none;
}

.url_frequent {
  box-sizing: border-box;
  width: 77%;
  height: @height;
  display: flex;
  flex-direction: column;
  margin: 300px auto;
  // 半透明
  background: rgba(100, 100, 100, 0.2);
  // 圆角
  border: 1px;
  border-radius: 4px;

  .type_block_list {
    margin: 10px;

    .type_block {
      height: 35px;
      display: flex;
      flex-direction: row;
      margin: 10px;

      .type_piece {
        box-sizing: border-box;
        width: 10%;

        .type_piece_a {
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          background: rgba(10, 12, 15, 0.1);
          margin: 0 3px 0 3px;
          border: 1px;
          border-radius: 4px;

          .type_icon {
            .type_icon_template();

            .type_icon_img {
              .type_icon_img_template();
            }
          }

          .type_name {
            .type_name_template();
          }
        }
      }

      .url_list {
        .url_list_template();

        .url_piece {
          .url_piece_template();

          .url_piece_a {
            .url_piece_a_template();

            .url_icon {
              .url_icon_template();

              .url_icon_img {
                .url_icon_img_template();
              }
            }

            .url_name {
              .url_name_template();

              .url_name_span {
                .url_name_span_template();
              }
            }
          }
        }
      }
    }
  }
}

.all {
  display: flex;
  flex-direction: row;

  .left_menu {
    width: 17%;
    height: 100vh;
    background: rgba(100, 100, 100, 0.2);
  }

  .type_block_list {
    box-sizing: border-box;
    width: 83%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;

    .type_block {
      display: flex;
      flex-direction: column;

      .type_piece {
        display: flex;
        flex-direction: row;
        margin: 10px 0 10px 0;

        .type_icon {
          .type_icon_template();

          .type_icon_img {
            .type_icon_img_template();
          }
        }

        .type_name {
          .type_name_template();
        }
      }

      .url_list {
        .url_list_template();

        .url_piece {
          .url_piece_template();

          .url_piece_a {
            .url_piece_a_template();

            .url_icon {
              .url_icon_template();

              .url_icon_img {
                .url_icon_img_template();
              }
            }

            .url_name {
              .url_name_template();

              .url_name_span {
                .url_name_span_template();
              }
            }
          }
        }
      }
    }
  }
}
