.url_block {
  width: 800px;
  height: 300px;
  display: block;
  margin: 300px auto;
  // 半透明
  background-color: #EBEBEB;
  opacity: 0.5;
  // 圆角
  border: 1px;
  border-radius: 4px;
}

.url_frequent {
  display: flex;
  flex-direction: column;
}

.type_block {
  display: flex;
  flex-direction: row;
}

.url_list {
  display: flex;
  flex-direction: row;
}

.go_to_all {
  display: flex;
  flex-direction: row;
}