.url_frequent {
    display: flex;
    flex-direction: column;
}

.type_block {
    display: flex;
    flex-direction: row;
}

.url_list {
    display: flex;
    flex-direction: row;
}

.go_to_all {
    display: flex;
    flex-direction: row;
}